.DS_Store
**/node_modules/

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# This can propably be removed as soon as Zed fixes it issues
# https://github.com/zed-industries/zed/issues/22085
.ropeproject
